body {
    background-color: rgb(248, 182, 96);
    box-sizing: content-box;
    font-family: 'Comic Sans';
}

@font-face {
    font-family: 'Comic Sans';
    src: url(/COMIC.TTF);
}

.container {
    margin: 0 auto;
    padding: 60px 0;
    max-width: 500px;
}

.todo-list {
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
    height: 200px;
    display: block;
}

.input-title {
    width: 400px;
    height: 25px;
    border-radius: 5px;
    outline: 1px rgb(187, 185, 185) solid;
    border: none;
}

.add-btn {
    margin-top: 20px;
    width: 405px;
    border: 1px rgb(219, 218, 218) solid;
    height: 25px;
    border-radius: 5px;
    font-family: 'Comic Sans';
    font-size: 15px;
    font-weight: bold;
    outline: 1px rgb(187, 185, 185) solid;
    cursor: pointer;
}

.add-btn:active {
    outline: 1px rgb(161, 161, 161) solid;
}

.todo {
    margin-top: 44px;
    border-radius: 5px;
    background-color:aqua;
    max-width: 500px;
    text-align: left;
}

.todo-list h1 {
    padding-top: 20px;
}

.todo li {
    margin: 5px;
    list-style-type: none;
    max-width: 410px;
    font-size: 18px;
    border-bottom: 1px rgb(97, 97, 97) solid;
}

li:first-child{
    padding-top: 5px;
}

.delBtn {
    border-radius: 5px;
    background-color: aqua;
    font-size: 15px;
}

